--
-- PostgreSQL database dump
--

\restrict sEdyUjnSTl47IhK8rCFJlB1panOe7QtReWAd4uu1TZoY8NvHW0lsfRRDJkNOhhh

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: reporting; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA reporting;


ALTER SCHEMA reporting OWNER TO postgres;

--
-- Name: SCHEMA reporting; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA reporting IS 'Read-only analytical views for platform reporting tools.';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: inventory_log_reason; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.inventory_log_reason AS ENUM (
    'MANUAL_ADJUST',
    'ORDER',
    'ORDER_CANCEL',
    'RETURN'
);


ALTER TYPE public.inventory_log_reason OWNER TO postgres;

--
-- Name: order_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.order_status AS ENUM (
    'PENDING',
    'PAID',
    'PROCESSING',
    'SHIPPING',
    'DELIVERED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public.order_status OWNER TO postgres;

--
-- Name: order_tracking_event; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.order_tracking_event AS ENUM (
    'CREATED',
    'CONFIRMED',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED_BY_USER',
    'CANCELLED_BY_ADMIN',
    'PAYMENT_FAILED',
    'PAYMENT_SUCCESS'
);


ALTER TYPE public.order_tracking_event OWNER TO postgres;

--
-- Name: payment_method_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_method_enum AS ENUM (
    'MOMO',
    'BANK',
    'COD',
    'VNPAY'
);


ALTER TYPE public.payment_method_enum OWNER TO postgres;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_status AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED'
);


ALTER TYPE public.payment_status OWNER TO postgres;

--
-- Name: product_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.product_status AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'OUT_OF_STOCK'
);


ALTER TYPE public.product_status OWNER TO postgres;

--
-- Name: recommendation_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.recommendation_type AS ENUM (
    'PRICE',
    'INVENTORY',
    'DEMAND',
    'TREND'
);


ALTER TYPE public.recommendation_type OWNER TO postgres;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_status AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'PENDING',
    'BLOCKED'
);


ALTER TYPE public.user_status OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    CONSTRAINT chk_cart_item_quantity CHECK ((quantity > 0))
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cart_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_items_id_seq OWNER TO postgres;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.carts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.carts_id_seq OWNER TO postgres;

--
-- Name: carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.carts_id_seq OWNED BY public.carts.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    slug character varying(150) NOT NULL,
    parent_id bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    CONSTRAINT chk_category_self_parent CHECK (((parent_id IS NULL) OR (parent_id <> id)))
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: customer_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_addresses (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    receiver_name character varying(150) NOT NULL,
    receiver_phone character varying(20) NOT NULL,
    province character varying(100) NOT NULL,
    district character varying(100) NOT NULL,
    ward character varying(100) NOT NULL,
    address_line text NOT NULL,
    is_default boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customer_addresses OWNER TO postgres;

--
-- Name: customer_addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_addresses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_addresses_id_seq OWNER TO postgres;

--
-- Name: customer_addresses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_addresses_id_seq OWNED BY public.customer_addresses.id;


--
-- Name: demand_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demand_predictions (
    prediction_id bigint NOT NULL,
    product_id bigint NOT NULL,
    historical_days integer NOT NULL,
    forecast_period integer NOT NULL,
    average_daily_demand numeric(19,2) NOT NULL,
    predicted_quantity numeric(19,2) NOT NULL,
    generated_by bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_demand_prediction_average CHECK ((average_daily_demand >= (0)::numeric)),
    CONSTRAINT chk_demand_prediction_forecast_period CHECK ((forecast_period > 0)),
    CONSTRAINT chk_demand_prediction_historical_days CHECK ((historical_days > 0)),
    CONSTRAINT chk_demand_prediction_quantity CHECK ((predicted_quantity >= (0)::numeric))
);


ALTER TABLE public.demand_predictions OWNER TO postgres;

--
-- Name: demand_predictions_prediction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.demand_predictions_prediction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.demand_predictions_prediction_id_seq OWNER TO postgres;

--
-- Name: demand_predictions_prediction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.demand_predictions_prediction_id_seq OWNED BY public.demand_predictions.prediction_id;


--
-- Name: dss_recommendations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dss_recommendations (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    product_id bigint,
    recommendation_type public.recommendation_type NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    confidence_score numeric(5,2),
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_confidence_score CHECK (((confidence_score IS NULL) OR ((confidence_score >= (0)::numeric) AND (confidence_score <= (100)::numeric))))
);


ALTER TABLE public.dss_recommendations OWNER TO postgres;

--
-- Name: dss_recommendations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dss_recommendations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dss_recommendations_id_seq OWNER TO postgres;

--
-- Name: dss_recommendations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dss_recommendations_id_seq OWNED BY public.dss_recommendations.id;


--
-- Name: dss_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dss_results (
    id bigint NOT NULL,
    scenario_id bigint NOT NULL,
    predicted_sales integer,
    predicted_revenue numeric(14,2),
    predicted_profit numeric(14,2),
    recommendation text,
    generated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_dss_predicted_profit CHECK (((predicted_profit IS NULL) OR (predicted_profit >= (0)::numeric))),
    CONSTRAINT chk_dss_predicted_revenue CHECK (((predicted_revenue IS NULL) OR (predicted_revenue >= (0)::numeric))),
    CONSTRAINT chk_dss_predicted_sales CHECK (((predicted_sales IS NULL) OR (predicted_sales >= 0)))
);


ALTER TABLE public.dss_results OWNER TO postgres;

--
-- Name: dss_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dss_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dss_results_id_seq OWNER TO postgres;

--
-- Name: dss_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dss_results_id_seq OWNED BY public.dss_results.id;


--
-- Name: dss_scenario_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dss_scenario_items (
    id bigint NOT NULL,
    scenario_id bigint NOT NULL,
    product_id bigint NOT NULL,
    current_price numeric(12,2),
    simulated_price numeric(12,2),
    current_stock integer,
    simulated_stock integer,
    CONSTRAINT chk_dss_current_price CHECK (((current_price IS NULL) OR (current_price >= (0)::numeric))),
    CONSTRAINT chk_dss_current_stock CHECK (((current_stock IS NULL) OR (current_stock >= 0))),
    CONSTRAINT chk_dss_simulated_price CHECK (((simulated_price IS NULL) OR (simulated_price >= (0)::numeric))),
    CONSTRAINT chk_dss_simulated_stock CHECK (((simulated_stock IS NULL) OR (simulated_stock >= 0)))
);


ALTER TABLE public.dss_scenario_items OWNER TO postgres;

--
-- Name: dss_scenario_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dss_scenario_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dss_scenario_items_id_seq OWNER TO postgres;

--
-- Name: dss_scenario_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dss_scenario_items_id_seq OWNED BY public.dss_scenario_items.id;


--
-- Name: dss_scenarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dss_scenarios (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.dss_scenarios OWNER TO postgres;

--
-- Name: dss_scenarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dss_scenarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dss_scenarios_id_seq OWNER TO postgres;

--
-- Name: dss_scenarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dss_scenarios_id_seq OWNED BY public.dss_scenarios.id;


--
-- Name: email_otps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_otps (
    id bigint NOT NULL,
    email character varying(150) NOT NULL,
    otp character varying(10) NOT NULL,
    expiry_time timestamp without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    resend_count integer DEFAULT 0 NOT NULL,
    verified boolean DEFAULT false NOT NULL
);


ALTER TABLE public.email_otps OWNER TO postgres;

--
-- Name: email_otps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_otps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_otps_id_seq OWNER TO postgres;

--
-- Name: email_otps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_otps_id_seq OWNED BY public.email_otps.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    available_quantity integer DEFAULT 0 NOT NULL,
    reserved_quantity integer DEFAULT 0 NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inventory_available CHECK ((available_quantity >= 0)),
    CONSTRAINT chk_inventory_reserved CHECK ((reserved_quantity >= 0))
);


ALTER TABLE public.inventory OWNER TO postgres;

--
-- Name: inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_id_seq OWNER TO postgres;

--
-- Name: inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_id_seq OWNED BY public.inventory.id;


--
-- Name: inventory_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_logs (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    change_amount integer NOT NULL,
    previous_quantity integer NOT NULL,
    current_quantity integer NOT NULL,
    reason public.inventory_log_reason NOT NULL,
    updated_by bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inventory_log_current_non_negative CHECK ((current_quantity >= 0))
);


ALTER TABLE public.inventory_logs OWNER TO postgres;

--
-- Name: inventory_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_logs_id_seq OWNER TO postgres;

--
-- Name: inventory_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_logs_id_seq OWNED BY public.inventory_logs.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    seller_id bigint NOT NULL,
    product_name_at_purchase character varying(255) NOT NULL,
    quantity integer NOT NULL,
    unit_price_at_purchase numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    CONSTRAINT chk_order_item_price CHECK ((unit_price_at_purchase >= (0)::numeric)),
    CONSTRAINT chk_order_item_quantity CHECK ((quantity > 0)),
    CONSTRAINT chk_order_item_subtotal CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: order_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_tracking (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    event public.order_tracking_event NOT NULL,
    note text,
    updated_by bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_tracking OWNER TO postgres;

--
-- Name: order_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_tracking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_tracking_id_seq OWNER TO postgres;

--
-- Name: order_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_tracking_id_seq OWNED BY public.order_tracking.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    subtotal_amount numeric(12,2) DEFAULT 0 NOT NULL,
    shipping_fee numeric(12,2) DEFAULT 0 NOT NULL,
    discount_amount numeric(12,2) DEFAULT 0 NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    status public.order_status DEFAULT 'PENDING'::public.order_status,
    shipping_address text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    address_id bigint,
    CONSTRAINT chk_order_discount CHECK ((discount_amount >= (0)::numeric)),
    CONSTRAINT chk_order_shipping CHECK ((shipping_fee >= (0)::numeric)),
    CONSTRAINT chk_order_subtotal CHECK ((subtotal_amount >= (0)::numeric)),
    CONSTRAINT chk_order_total CHECK ((total_amount >= (0)::numeric)),
    CONSTRAINT chk_order_total_correct CHECK ((total_amount = ((subtotal_amount + shipping_fee) - discount_amount)))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    payment_method public.payment_method_enum NOT NULL,
    amount numeric(12,2) NOT NULL,
    status public.payment_status DEFAULT 'PENDING'::public.payment_status,
    transaction_id character varying(255),
    currency character varying(10) DEFAULT 'VND'::character varying,
    gateway_response text,
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    gateway_name character varying(50),
    CONSTRAINT chk_payment_amount CHECK ((amount >= (0)::numeric))
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: price_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_history (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    old_price numeric(12,2),
    new_price numeric(12,2),
    changed_by bigint,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_new_price CHECK (((new_price IS NULL) OR (new_price >= (0)::numeric))),
    CONSTRAINT chk_old_price CHECK (((old_price IS NULL) OR (old_price >= (0)::numeric)))
);


ALTER TABLE public.price_history OWNER TO postgres;

--
-- Name: price_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.price_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.price_history_id_seq OWNER TO postgres;

--
-- Name: price_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.price_history_id_seq OWNED BY public.price_history.id;


--
-- Name: product_attributes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_attributes (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    attribute_name character varying(100) NOT NULL,
    attribute_value character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.product_attributes OWNER TO postgres;

--
-- Name: product_attributes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_attributes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_attributes_id_seq OWNER TO postgres;

--
-- Name: product_attributes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_attributes_id_seq OWNED BY public.product_attributes.id;


--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    image_url text NOT NULL,
    public_id character varying(255) NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_images_id_seq OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_images_id_seq OWNED BY public.product_images.id;


--
-- Name: product_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_reviews (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp without time zone,
    CONSTRAINT chk_review_rating CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.product_reviews OWNER TO postgres;

--
-- Name: product_reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_reviews_id_seq OWNER TO postgres;

--
-- Name: product_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_reviews_id_seq OWNED BY public.product_reviews.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    seller_id bigint NOT NULL,
    category_id bigint,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text,
    price numeric(12,2) NOT NULL,
    cost_price numeric(12,2),
    status public.product_status DEFAULT 'ACTIVE'::public.product_status,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    CONSTRAINT chk_product_cost_price CHECK (((cost_price IS NULL) OR (cost_price >= (0)::numeric))),
    CONSTRAINT chk_product_price CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."table" (
);


ALTER TABLE public."table" OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    full_name character varying(150),
    phone character varying(20),
    status public.user_status DEFAULT 'ACTIVE'::public.user_status,
    role_id bigint NOT NULL,
    store_name character varying(255),
    business_email character varying(150),
    business_phone character varying(20),
    seller_description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: wishlist_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlist_items (
    id bigint NOT NULL,
    wishlist_id bigint NOT NULL,
    product_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wishlist_items OWNER TO postgres;

--
-- Name: wishlist_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wishlist_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wishlist_items_id_seq OWNER TO postgres;

--
-- Name: wishlist_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wishlist_items_id_seq OWNED BY public.wishlist_items.id;


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlists (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wishlists OWNER TO postgres;

--
-- Name: wishlists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wishlists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wishlists_id_seq OWNER TO postgres;

--
-- Name: wishlists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wishlists_id_seq OWNED BY public.wishlists.id;


--
-- Name: platform_activity_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_activity_daily AS
 WITH date_bounds AS (
         SELECT COALESCE(LEAST(( SELECT min((users.created_at)::date) AS min
                   FROM public.users), ( SELECT min((products.created_at)::date) AS min
                   FROM public.products), ( SELECT min((categories.created_at)::date) AS min
                   FROM public.categories)), ( SELECT min((users.created_at)::date) AS min
                   FROM public.users), ( SELECT min((products.created_at)::date) AS min
                   FROM public.products), ( SELECT min((categories.created_at)::date) AS min
                   FROM public.categories), CURRENT_DATE) AS start_date
        ), calendar AS (
         SELECT (day_value.day_value)::date AS report_date
           FROM date_bounds,
            LATERAL generate_series((date_bounds.start_date)::timestamp with time zone, (CURRENT_DATE)::timestamp with time zone, '1 day'::interval) day_value(day_value)
        ), user_activity AS (
         SELECT (u.created_at)::date AS report_date,
            count(*) FILTER (WHERE ((r.name)::text = 'SELLER'::text)) AS new_sellers,
            count(*) FILTER (WHERE ((r.name)::text = 'CUSTOMER'::text)) AS new_customers
           FROM (public.users u
             JOIN public.roles r ON ((r.id = u.role_id)))
          GROUP BY ((u.created_at)::date)
        ), product_activity AS (
         SELECT (p.created_at)::date AS report_date,
            count(*) AS new_products
           FROM public.products p
          GROUP BY ((p.created_at)::date)
        ), category_activity AS (
         SELECT (c_1.created_at)::date AS report_date,
            count(*) AS new_categories
           FROM public.categories c_1
          GROUP BY ((c_1.created_at)::date)
        )
 SELECT c.report_date,
    COALESCE(ua.new_sellers, (0)::bigint) AS new_sellers,
    COALESCE(ua.new_customers, (0)::bigint) AS new_customers,
    COALESCE(pa.new_products, (0)::bigint) AS new_products,
    COALESCE(ca.new_categories, (0)::bigint) AS new_categories
   FROM (((calendar c
     LEFT JOIN user_activity ua ON ((ua.report_date = c.report_date)))
     LEFT JOIN product_activity pa ON ((pa.report_date = c.report_date)))
     LEFT JOIN category_activity ca ON ((ca.report_date = c.report_date)));


ALTER VIEW reporting.platform_activity_daily OWNER TO postgres;

--
-- Name: VIEW platform_activity_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_activity_daily IS 'Daily seller, customer, product and category creation activity.';


--
-- Name: platform_category_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_category_daily AS
 WITH category_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            c.id AS category_id,
            COALESCE((c.id)::text, 'UNCATEGORIZED'::text) AS category_key,
            COALESCE(c.name, 'Uncategorized'::character varying) AS category_name,
            COALESCE(sum(oi.subtotal), (0)::numeric) AS gross_merchandise_value,
            count(DISTINCT oi.order_id) AS delivered_orders,
            COALESCE(sum(oi.quantity), (0)::bigint) AS units_sold
           FROM (((public.orders o
             JOIN public.order_items oi ON ((oi.order_id = o.id)))
             JOIN public.products p ON ((p.id = oi.product_id)))
             LEFT JOIN public.categories c ON ((c.id = p.category_id)))
          WHERE (o.status = 'DELIVERED'::public.order_status)
          GROUP BY ((o.created_at)::date), c.id, c.name
        )
 SELECT report_date,
    category_id,
    category_key,
    category_name,
    (gross_merchandise_value)::numeric(18,2) AS gross_merchandise_value,
    delivered_orders,
    units_sold,
    (COALESCE(round(((gross_merchandise_value * 100.0) / NULLIF(sum(gross_merchandise_value) OVER (PARTITION BY report_date), (0)::numeric)), 2), (0)::numeric))::numeric(7,2) AS daily_market_share_percentage
   FROM category_metrics cm;


ALTER VIEW reporting.platform_category_daily OWNER TO postgres;

--
-- Name: VIEW platform_category_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_category_daily IS 'Daily delivered merchandise performance by current product category.';


--
-- Name: platform_current_summary; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_current_summary AS
 WITH user_summary AS (
         SELECT count(*) AS total_users,
            count(*) FILTER (WHERE ((r.name)::text = 'SELLER'::text)) AS total_sellers,
            count(*) FILTER (WHERE (((r.name)::text = 'SELLER'::text) AND (u.status = 'ACTIVE'::public.user_status))) AS active_seller_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'SELLER'::text) AND (u.status = 'INACTIVE'::public.user_status))) AS inactive_seller_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'SELLER'::text) AND (u.status = 'PENDING'::public.user_status))) AS pending_seller_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'SELLER'::text) AND (u.status = 'BLOCKED'::public.user_status))) AS blocked_seller_accounts,
            count(*) FILTER (WHERE ((r.name)::text = 'CUSTOMER'::text)) AS total_customers,
            count(*) FILTER (WHERE (((r.name)::text = 'CUSTOMER'::text) AND (u.status = 'ACTIVE'::public.user_status))) AS active_customer_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'CUSTOMER'::text) AND (u.status = 'INACTIVE'::public.user_status))) AS inactive_customer_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'CUSTOMER'::text) AND (u.status = 'PENDING'::public.user_status))) AS pending_customer_accounts,
            count(*) FILTER (WHERE (((r.name)::text = 'CUSTOMER'::text) AND (u.status = 'BLOCKED'::public.user_status))) AS blocked_customer_accounts
           FROM (public.users u
             JOIN public.roles r ON ((r.id = u.role_id)))
          WHERE ((u.deleted_at IS NULL) AND (r.deleted_at IS NULL))
        ), product_summary AS (
         SELECT count(*) AS total_products,
            count(*) FILTER (WHERE (p.status = 'ACTIVE'::public.product_status)) AS active_products,
            count(*) FILTER (WHERE (p.status = 'INACTIVE'::public.product_status)) AS inactive_products,
            count(*) FILTER (WHERE (p.status = 'OUT_OF_STOCK'::public.product_status)) AS out_of_stock_products,
            count(*) FILTER (WHERE (p.category_id IS NULL)) AS uncategorized_products,
            count(DISTINCT p.seller_id) AS sellers_with_products
           FROM public.products p
          WHERE (p.deleted_at IS NULL)
        ), category_summary AS (
         SELECT count(*) AS total_categories,
            count(*) FILTER (WHERE (c.parent_id IS NULL)) AS root_categories
           FROM public.categories c
          WHERE (c.deleted_at IS NULL)
        )
 SELECT CURRENT_DATE AS snapshot_date,
    CURRENT_TIMESTAMP AS generated_at,
    us.total_users,
    us.total_sellers,
    us.active_seller_accounts,
    us.inactive_seller_accounts,
    us.pending_seller_accounts,
    us.blocked_seller_accounts,
    us.total_customers,
    us.active_customer_accounts,
    us.inactive_customer_accounts,
    us.pending_customer_accounts,
    us.blocked_customer_accounts,
    ps.total_products,
    ps.active_products,
    ps.inactive_products,
    ps.out_of_stock_products,
    ps.uncategorized_products,
    ps.sellers_with_products,
    cs.total_categories,
    cs.root_categories
   FROM ((user_summary us
     CROSS JOIN product_summary ps)
     CROSS JOIN category_summary cs);


ALTER VIEW reporting.platform_current_summary OWNER TO postgres;

--
-- Name: VIEW platform_current_summary; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_current_summary IS 'Current non-deleted account, product and category snapshot.';


--
-- Name: platform_customer_purchase_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_customer_purchase_daily AS
 WITH order_item_metrics AS (
         SELECT oi.order_id,
            COALESCE(sum(oi.quantity), (0)::bigint) AS units_purchased
           FROM public.order_items oi
          GROUP BY oi.order_id
        )
 SELECT (o.created_at)::date AS report_date,
    o.user_id AS customer_id,
    COALESCE(NULLIF((u.full_name)::text, ''::text), NULLIF((u.username)::text, ''::text), ('Customer '::text || (u.id)::text)) AS customer_name,
    count(*) AS delivered_orders,
    (COALESCE(sum(oim.units_purchased), (0)::numeric))::bigint AS units_purchased,
    (COALESCE(sum(o.subtotal_amount), (0)::numeric))::numeric(18,2) AS gross_merchandise_value,
    (COALESCE(sum(o.total_amount), (0)::numeric))::numeric(18,2) AS delivered_order_value,
    (COALESCE(sum(o.discount_amount), (0)::numeric))::numeric(18,2) AS total_discount_amount,
    (COALESCE(sum(o.shipping_fee), (0)::numeric))::numeric(18,2) AS total_shipping_fee
   FROM ((public.orders o
     JOIN public.users u ON ((u.id = o.user_id)))
     JOIN order_item_metrics oim ON ((oim.order_id = o.id)))
  WHERE (o.status = 'DELIVERED'::public.order_status)
  GROUP BY ((o.created_at)::date), o.user_id, u.id, u.full_name, u.username;


ALTER VIEW reporting.platform_customer_purchase_daily OWNER TO postgres;

--
-- Name: VIEW platform_customer_purchase_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_customer_purchase_daily IS 'Daily delivered-order metrics at customer grain for exact distinct customer counts across arbitrary date ranges.';


--
-- Name: platform_daily_revenue; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_daily_revenue AS
 WITH date_bounds AS (
         SELECT COALESCE(LEAST(( SELECT min((orders.created_at)::date) AS min
                   FROM public.orders), ( SELECT min((payments.paid_at)::date) AS min
                   FROM public.payments
                  WHERE (payments.paid_at IS NOT NULL))), ( SELECT min((orders.created_at)::date) AS min
                   FROM public.orders), ( SELECT min((payments.paid_at)::date) AS min
                   FROM public.payments
                  WHERE (payments.paid_at IS NOT NULL)), CURRENT_DATE) AS start_date
        ), calendar AS (
         SELECT (day_value.day_value)::date AS report_date
           FROM date_bounds,
            LATERAL generate_series((date_bounds.start_date)::timestamp with time zone, (CURRENT_DATE)::timestamp with time zone, '1 day'::interval) day_value(day_value)
        ), order_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            count(*) AS total_orders,
            count(*) FILTER (WHERE (o.status = 'PENDING'::public.order_status)) AS pending_orders,
            count(*) FILTER (WHERE (o.status = 'PAID'::public.order_status)) AS paid_orders,
            count(*) FILTER (WHERE (o.status = 'PROCESSING'::public.order_status)) AS processing_orders,
            count(*) FILTER (WHERE (o.status = 'SHIPPING'::public.order_status)) AS shipping_orders,
            count(*) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)) AS delivered_orders,
            count(*) FILTER (WHERE (o.status = 'CANCELLED'::public.order_status)) AS cancelled_orders,
            count(*) FILTER (WHERE (o.status = 'REFUNDED'::public.order_status)) AS refunded_orders,
            COALESCE(sum(o.subtotal_amount) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)), (0)::numeric) AS gross_merchandise_value,
            COALESCE(sum(o.total_amount) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)), (0)::numeric) AS delivered_order_value,
            COALESCE(sum(o.discount_amount) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)), (0)::numeric) AS total_discount_amount,
            COALESCE(sum(o.shipping_fee) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)), (0)::numeric) AS total_shipping_fee,
            count(DISTINCT o.user_id) FILTER (WHERE (o.status = 'DELIVERED'::public.order_status)) AS active_customer_count
           FROM public.orders o
          GROUP BY ((o.created_at)::date)
        ), item_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            COALESCE(sum(oi.quantity), (0)::bigint) AS units_sold,
            count(DISTINCT oi.seller_id) AS active_seller_count
           FROM (public.orders o
             JOIN public.order_items oi ON ((oi.order_id = o.id)))
          WHERE (o.status = 'DELIVERED'::public.order_status)
          GROUP BY ((o.created_at)::date)
        ), payment_metrics AS (
         SELECT (p.paid_at)::date AS report_date,
            COALESCE(sum(p.amount), (0)::numeric) AS successful_payment_amount
           FROM public.payments p
          WHERE ((p.status = 'SUCCESS'::public.payment_status) AND (p.paid_at IS NOT NULL))
          GROUP BY ((p.paid_at)::date)
        )
 SELECT c.report_date,
    (COALESCE(om.gross_merchandise_value, (0)::numeric))::numeric(18,2) AS gross_merchandise_value,
    (COALESCE(om.delivered_order_value, (0)::numeric))::numeric(18,2) AS delivered_order_value,
    (COALESCE(pm.successful_payment_amount, (0)::numeric))::numeric(18,2) AS successful_payment_amount,
    (COALESCE(om.total_discount_amount, (0)::numeric))::numeric(18,2) AS total_discount_amount,
    (COALESCE(om.total_shipping_fee, (0)::numeric))::numeric(18,2) AS total_shipping_fee,
    COALESCE(om.total_orders, (0)::bigint) AS total_orders,
    COALESCE(om.pending_orders, (0)::bigint) AS pending_orders,
    COALESCE(om.paid_orders, (0)::bigint) AS paid_orders,
    COALESCE(om.processing_orders, (0)::bigint) AS processing_orders,
    COALESCE(om.shipping_orders, (0)::bigint) AS shipping_orders,
    COALESCE(om.delivered_orders, (0)::bigint) AS delivered_orders,
    COALESCE(om.cancelled_orders, (0)::bigint) AS cancelled_orders,
    COALESCE(om.refunded_orders, (0)::bigint) AS refunded_orders,
    (COALESCE(round((om.delivered_order_value / (NULLIF(om.delivered_orders, 0))::numeric), 2), (0)::numeric))::numeric(18,2) AS average_order_value,
    COALESCE(im.units_sold, (0)::bigint) AS units_sold,
    COALESCE(im.active_seller_count, (0)::bigint) AS active_seller_count,
    COALESCE(om.active_customer_count, (0)::bigint) AS active_customer_count
   FROM (((calendar c
     LEFT JOIN order_metrics om ON ((om.report_date = c.report_date)))
     LEFT JOIN item_metrics im ON ((im.report_date = c.report_date)))
     LEFT JOIN payment_metrics pm ON ((pm.report_date = c.report_date)));


ALTER VIEW reporting.platform_daily_revenue OWNER TO postgres;

--
-- Name: VIEW platform_daily_revenue; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_daily_revenue IS 'Daily platform GMV, delivered order value, payment and order KPIs.';


--
-- Name: platform_order_status_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_order_status_daily AS
 WITH date_bounds AS (
         SELECT COALESCE(min((orders.created_at)::date), CURRENT_DATE) AS start_date
           FROM public.orders
        ), calendar AS (
         SELECT (day_value.day_value)::date AS report_date
           FROM date_bounds,
            LATERAL generate_series((date_bounds.start_date)::timestamp with time zone, (CURRENT_DATE)::timestamp with time zone, '1 day'::interval) day_value(day_value)
        ), statuses AS (
         SELECT unnest(enum_range(NULL::public.order_status)) AS order_status
        ), status_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            o.status AS order_status,
            count(*) AS order_count,
            COALESCE(sum(o.total_amount), (0)::numeric) AS total_order_value
           FROM public.orders o
          GROUP BY ((o.created_at)::date), o.status
        )
 SELECT c.report_date,
    (s.order_status)::text AS order_status,
    COALESCE(sm.order_count, (0)::bigint) AS order_count,
    (COALESCE(sm.total_order_value, (0)::numeric))::numeric(18,2) AS total_order_value
   FROM ((calendar c
     CROSS JOIN statuses s)
     LEFT JOIN status_metrics sm ON (((sm.report_date = c.report_date) AND (sm.order_status = s.order_status))));


ALTER VIEW reporting.platform_order_status_daily OWNER TO postgres;

--
-- Name: VIEW platform_order_status_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_order_status_daily IS 'Daily order counts and values for every order status.';


--
-- Name: platform_payment_method_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_payment_method_daily AS
 WITH date_bounds AS (
         SELECT COALESCE(LEAST(min((payments.created_at)::date), min((payments.paid_at)::date)), min((payments.created_at)::date), min((payments.paid_at)::date), CURRENT_DATE) AS start_date
           FROM public.payments
        ), calendar AS (
         SELECT (day_value.day_value)::date AS report_date
           FROM date_bounds,
            LATERAL generate_series((date_bounds.start_date)::timestamp with time zone, (CURRENT_DATE)::timestamp with time zone, '1 day'::interval) day_value(day_value)
        ), methods AS (
         SELECT unnest(enum_range(NULL::public.payment_method_enum)) AS payment_method
        ), created_metrics AS (
         SELECT (p.created_at)::date AS report_date,
            p.payment_method,
            count(*) AS total_payment_count,
            count(*) FILTER (WHERE (p.status = 'SUCCESS'::public.payment_status)) AS successful_payment_count,
            count(*) FILTER (WHERE (p.status = 'PENDING'::public.payment_status)) AS pending_payment_count,
            count(*) FILTER (WHERE (p.status = 'FAILED'::public.payment_status)) AS failed_payment_count,
            COALESCE(sum(p.amount) FILTER (WHERE (p.status = 'SUCCESS'::public.payment_status)), (0)::numeric) AS successful_amount_by_created_date
           FROM public.payments p
          GROUP BY ((p.created_at)::date), p.payment_method
        ), settled_metrics AS (
         SELECT (p.paid_at)::date AS report_date,
            p.payment_method,
            count(*) AS settled_payment_count,
            COALESCE(sum(p.amount), (0)::numeric) AS settled_successful_amount
           FROM public.payments p
          WHERE ((p.status = 'SUCCESS'::public.payment_status) AND (p.paid_at IS NOT NULL))
          GROUP BY ((p.paid_at)::date), p.payment_method
        )
 SELECT c.report_date,
    (m.payment_method)::text AS payment_method,
    COALESCE(cm.total_payment_count, (0)::bigint) AS total_payment_count,
    COALESCE(cm.successful_payment_count, (0)::bigint) AS successful_payment_count,
    COALESCE(cm.pending_payment_count, (0)::bigint) AS pending_payment_count,
    COALESCE(cm.failed_payment_count, (0)::bigint) AS failed_payment_count,
    (COALESCE(cm.successful_amount_by_created_date, (0)::numeric))::numeric(18,2) AS successful_amount_by_created_date,
    COALESCE(sm.settled_payment_count, (0)::bigint) AS settled_payment_count,
    (COALESCE(sm.settled_successful_amount, (0)::numeric))::numeric(18,2) AS settled_successful_amount
   FROM (((calendar c
     CROSS JOIN methods m)
     LEFT JOIN created_metrics cm ON (((cm.report_date = c.report_date) AND (cm.payment_method = m.payment_method))))
     LEFT JOIN settled_metrics sm ON (((sm.report_date = c.report_date) AND (sm.payment_method = m.payment_method))));


ALTER VIEW reporting.platform_payment_method_daily OWNER TO postgres;

--
-- Name: VIEW platform_payment_method_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_payment_method_daily IS 'Daily payment attempts and settled amounts by payment method.';


--
-- Name: platform_product_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_product_daily AS
 WITH product_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            oi.product_id,
            p.name AS product_name,
            oi.seller_id,
            COALESCE(NULLIF((u.store_name)::text, ''::text), NULLIF((u.full_name)::text, ''::text), (u.username)::text) AS seller_name,
            COALESCE(sum(oi.subtotal), (0)::numeric) AS gross_merchandise_value,
            count(DISTINCT oi.order_id) AS delivered_orders,
            COALESCE(sum(oi.quantity), (0)::bigint) AS units_sold
           FROM (((public.orders o
             JOIN public.order_items oi ON ((oi.order_id = o.id)))
             JOIN public.products p ON ((p.id = oi.product_id)))
             JOIN public.users u ON ((u.id = oi.seller_id)))
          WHERE (o.status = 'DELIVERED'::public.order_status)
          GROUP BY ((o.created_at)::date), oi.product_id, p.name, oi.seller_id, u.store_name, u.full_name, u.username
        )
 SELECT report_date,
    product_id,
    product_name,
    seller_id,
    seller_name,
    (gross_merchandise_value)::numeric(18,2) AS gross_merchandise_value,
    delivered_orders,
    units_sold,
    (COALESCE(round(((gross_merchandise_value * 100.0) / NULLIF(sum(gross_merchandise_value) OVER (PARTITION BY report_date), (0)::numeric)), 2), (0)::numeric))::numeric(7,2) AS daily_market_share_percentage
   FROM product_metrics pm;


ALTER VIEW reporting.platform_product_daily OWNER TO postgres;

--
-- Name: VIEW platform_product_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_product_daily IS 'Daily delivered merchandise performance by product.';


--
-- Name: platform_seller_daily; Type: VIEW; Schema: reporting; Owner: postgres
--

CREATE VIEW reporting.platform_seller_daily AS
 WITH seller_metrics AS (
         SELECT (o.created_at)::date AS report_date,
            oi.seller_id,
            COALESCE(NULLIF((u.store_name)::text, ''::text), NULLIF((u.full_name)::text, ''::text), (u.username)::text) AS seller_name,
            COALESCE(sum(oi.subtotal), (0)::numeric) AS gross_merchandise_value,
            count(DISTINCT oi.order_id) AS delivered_orders,
            COALESCE(sum(oi.quantity), (0)::bigint) AS units_sold
           FROM ((public.orders o
             JOIN public.order_items oi ON ((oi.order_id = o.id)))
             JOIN public.users u ON ((u.id = oi.seller_id)))
          WHERE (o.status = 'DELIVERED'::public.order_status)
          GROUP BY ((o.created_at)::date), oi.seller_id, u.store_name, u.full_name, u.username
        )
 SELECT report_date,
    seller_id,
    seller_name,
    (gross_merchandise_value)::numeric(18,2) AS gross_merchandise_value,
    delivered_orders,
    units_sold,
    (COALESCE(round(((gross_merchandise_value * 100.0) / NULLIF(sum(gross_merchandise_value) OVER (PARTITION BY report_date), (0)::numeric)), 2), (0)::numeric))::numeric(7,2) AS daily_market_share_percentage
   FROM seller_metrics sm;


ALTER VIEW reporting.platform_seller_daily OWNER TO postgres;

--
-- Name: VIEW platform_seller_daily; Type: COMMENT; Schema: reporting; Owner: postgres
--

COMMENT ON VIEW reporting.platform_seller_daily IS 'Daily delivered merchandise performance by seller.';


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: carts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts ALTER COLUMN id SET DEFAULT nextval('public.carts_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: customer_addresses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses ALTER COLUMN id SET DEFAULT nextval('public.customer_addresses_id_seq'::regclass);


--
-- Name: demand_predictions prediction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demand_predictions ALTER COLUMN prediction_id SET DEFAULT nextval('public.demand_predictions_prediction_id_seq'::regclass);


--
-- Name: dss_recommendations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_recommendations ALTER COLUMN id SET DEFAULT nextval('public.dss_recommendations_id_seq'::regclass);


--
-- Name: dss_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_results ALTER COLUMN id SET DEFAULT nextval('public.dss_results_id_seq'::regclass);


--
-- Name: dss_scenario_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenario_items ALTER COLUMN id SET DEFAULT nextval('public.dss_scenario_items_id_seq'::regclass);


--
-- Name: dss_scenarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenarios ALTER COLUMN id SET DEFAULT nextval('public.dss_scenarios_id_seq'::regclass);


--
-- Name: email_otps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_otps ALTER COLUMN id SET DEFAULT nextval('public.email_otps_id_seq'::regclass);


--
-- Name: inventory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory ALTER COLUMN id SET DEFAULT nextval('public.inventory_id_seq'::regclass);


--
-- Name: inventory_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_logs ALTER COLUMN id SET DEFAULT nextval('public.inventory_logs_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: order_tracking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_tracking ALTER COLUMN id SET DEFAULT nextval('public.order_tracking_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: price_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history ALTER COLUMN id SET DEFAULT nextval('public.price_history_id_seq'::regclass);


--
-- Name: product_attributes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_attributes ALTER COLUMN id SET DEFAULT nextval('public.product_attributes_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images ALTER COLUMN id SET DEFAULT nextval('public.product_images_id_seq'::regclass);


--
-- Name: product_reviews id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reviews ALTER COLUMN id SET DEFAULT nextval('public.product_reviews_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: wishlist_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items ALTER COLUMN id SET DEFAULT nextval('public.wishlist_items_id_seq'::regclass);


--
-- Name: wishlists id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists ALTER COLUMN id SET DEFAULT nextval('public.wishlists_id_seq'::regclass);


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_items (id, cart_id, product_id, quantity, created_at, updated_at, deleted_at) FROM stdin;
44	6	37	1	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
45	6	32	1	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
46	7	17	2	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
47	7	7	1	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
48	8	27	1	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
49	8	12	1	2026-07-26 15:20:14.397155	2026-07-26 15:20:14.397155	\N
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carts (id, user_id, created_at, updated_at, deleted_at) FROM stdin;
1	1	2026-07-25 14:46:58.282948	2026-07-25 14:46:58.282948	\N
5	7	2026-07-26 20:03:49.122433	2026-07-26 20:03:49.122433	\N
6	27	2026-07-26 15:20:14.393255	2026-07-26 15:20:14.393255	\N
7	28	2026-07-26 15:20:14.393255	2026-07-26 15:20:14.393255	\N
8	31	2026-07-26 15:20:14.393255	2026-07-26 15:20:14.393255	\N
9	2	2026-07-27 14:55:50.934101	2026-07-27 14:55:50.934101	\N
10	36	2026-07-27 17:55:11.856774	2026-07-27 17:55:11.856774	\N
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_addresses (id, user_id, receiver_name, receiver_phone, province, district, ward, address_line, is_default, created_at) FROM stdin;
\.


--
-- Data for Name: demand_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dss_recommendations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dss_recommendations (id, user_id, product_id, recommendation_type, title, message, confidence_score, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: dss_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dss_results (id, scenario_id, predicted_sales, predicted_revenue, predicted_profit, recommendation, generated_at) FROM stdin;
\.


--
-- Data for Name: dss_scenario_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dss_scenario_items (id, scenario_id, product_id, current_price, simulated_price, current_stock, simulated_stock) FROM stdin;
\.


--
-- Data for Name: dss_scenarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dss_scenarios (id, user_id, name, description, created_at) FROM stdin;
\.


--
-- Data for Name: email_otps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_otps (id, email, otp, expiry_time, used, created_at, resend_count, verified) FROM stdin;
2	kzorel2408@gmail.com	768312	2026-07-26 19:23:56.522443	f	2026-07-26 19:18:56.522443	0	f
3	toptenvn2018@gmail.com	993822	2026-07-26 19:25:59.755447	t	2026-07-26 19:20:59.755447	0	t
4	dinhgiabao1142004@gmail.com	994495	2026-07-27 17:44:37.030021	f	2026-07-27 17:39:37.031598	0	f
5	darkspiders2024@gmail.com	774128	2026-07-27 17:47:16.196222	t	2026-07-27 17:42:16.196222	0	t
6	minhpndse180043@fpt.edu.vn	839773	2026-08-01 02:21:54.568272	f	2026-08-01 02:16:54.568272	0	f
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_tracking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: price_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, description, created_at, updated_at, deleted_at) FROM stdin;
1	ADMIN	System Administrator	2026-07-25 14:44:57.939011	2026-07-25 14:44:57.939011	\N
2	MANAGER	Business Manager	2026-07-25 14:44:57.939011	2026-07-25 14:44:57.939011	\N
3	SELLER	Product Seller	2026-07-25 14:44:57.939011	2026-07-25 14:44:57.939011	\N
4	CUSTOMER	Customer User	2026-07-25 14:44:57.939011	2026-07-25 14:44:57.939011	\N
\.


--
-- Data for Name: table; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."table"  FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wishlist_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlist_items (id, wishlist_id, product_id, created_at) FROM stdin;
1	2	32	2026-07-26 15:20:14.443919
2	2	7	2026-07-26 15:20:14.443919
3	1	12	2026-07-26 15:20:14.443919
4	1	37	2026-07-26 15:20:14.443919
\.


--
-- Data for Name: wishlists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlists (id, user_id, created_at) FROM stdin;
1	28	2026-07-26 15:20:14.435655
2	31	2026-07-26 15:20:14.435655
\.


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 62, true);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carts_id_seq', 10, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 26, true);


--
-- Name: customer_addresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_addresses_id_seq', 1, false);


--
-- Name: demand_predictions_prediction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.demand_predictions_prediction_id_seq', 26, true);


--
-- Name: dss_recommendations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dss_recommendations_id_seq', 1, false);


--
-- Name: dss_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dss_results_id_seq', 1, false);


--
-- Name: dss_scenario_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dss_scenario_items_id_seq', 1, false);


--
-- Name: dss_scenarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dss_scenarios_id_seq', 1, false);


--
-- Name: email_otps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_otps_id_seq', 6, true);


--
-- Name: inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_id_seq', 65, true);


--
-- Name: inventory_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_logs_id_seq', 33, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 4019, true);


--
-- Name: order_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_tracking_id_seq', 1640, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 538, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_id_seq', 475, true);


--
-- Name: price_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.price_history_id_seq', 152, true);


--
-- Name: product_attributes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_attributes_id_seq', 73, true);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_images_id_seq', 166, true);


--
-- Name: product_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_reviews_id_seq', 71, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 66, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 53, true);


--
-- Name: wishlist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlist_items_id_seq', 4, true);


--
-- Name: wishlists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlists_id_seq', 2, true);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: carts carts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key UNIQUE (user_id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: customer_addresses customer_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses
    ADD CONSTRAINT customer_addresses_pkey PRIMARY KEY (id);


--
-- Name: demand_predictions demand_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demand_predictions
    ADD CONSTRAINT demand_predictions_pkey PRIMARY KEY (prediction_id);


--
-- Name: dss_recommendations dss_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_recommendations
    ADD CONSTRAINT dss_recommendations_pkey PRIMARY KEY (id);


--
-- Name: dss_results dss_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_results
    ADD CONSTRAINT dss_results_pkey PRIMARY KEY (id);


--
-- Name: dss_results dss_results_scenario_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_results
    ADD CONSTRAINT dss_results_scenario_id_key UNIQUE (scenario_id);


--
-- Name: dss_scenario_items dss_scenario_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenario_items
    ADD CONSTRAINT dss_scenario_items_pkey PRIMARY KEY (id);


--
-- Name: dss_scenarios dss_scenarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenarios
    ADD CONSTRAINT dss_scenarios_pkey PRIMARY KEY (id);


--
-- Name: email_otps email_otps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_otps
    ADD CONSTRAINT email_otps_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: inventory_logs inventory_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT inventory_logs_pkey PRIMARY KEY (id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (id);


--
-- Name: inventory inventory_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_product_id_key UNIQUE (product_id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_tracking order_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_tracking
    ADD CONSTRAINT order_tracking_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_order_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_key UNIQUE (order_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_transaction_id_key UNIQUE (transaction_id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (id);


--
-- Name: product_attributes product_attributes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_attributes
    ADD CONSTRAINT product_attributes_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_reviews product_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reviews
    ADD CONSTRAINT product_reviews_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: wishlist_items uq_wishlist_product; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT uq_wishlist_product UNIQUE (wishlist_id, product_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: wishlist_items wishlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_user_id_key UNIQUE (user_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_cart_items_cart; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cart_items_cart ON public.cart_items USING btree (cart_id);


--
-- Name: idx_cart_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cart_items_product ON public.cart_items USING btree (product_id);


--
-- Name: idx_categories_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_parent ON public.categories USING btree (parent_id);


--
-- Name: idx_demand_predictions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_demand_predictions_created_at ON public.demand_predictions USING btree (created_at);


--
-- Name: idx_demand_predictions_generated_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_demand_predictions_generated_by ON public.demand_predictions USING btree (generated_by);


--
-- Name: idx_demand_predictions_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_demand_predictions_product ON public.demand_predictions USING btree (product_id);


--
-- Name: idx_dss_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_items_product ON public.dss_scenario_items USING btree (product_id);


--
-- Name: idx_dss_items_scenario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_items_scenario ON public.dss_scenario_items USING btree (scenario_id);


--
-- Name: idx_dss_rec_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_rec_product ON public.dss_recommendations USING btree (product_id);


--
-- Name: idx_dss_rec_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_rec_seller ON public.dss_recommendations USING btree (user_id);


--
-- Name: idx_dss_rec_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_rec_type ON public.dss_recommendations USING btree (recommendation_type);


--
-- Name: idx_dss_results_scenario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_results_scenario ON public.dss_results USING btree (scenario_id);


--
-- Name: idx_dss_scenarios_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dss_scenarios_user ON public.dss_scenarios USING btree (user_id);


--
-- Name: idx_email_otps_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_otps_email ON public.email_otps USING btree (email);


--
-- Name: idx_inventory_logs_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_logs_product ON public.inventory_logs USING btree (product_id);


--
-- Name: idx_inventory_logs_updated_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_logs_updated_by ON public.inventory_logs USING btree (updated_by);


--
-- Name: idx_order_items_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


--
-- Name: idx_order_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_product ON public.order_items USING btree (product_id);


--
-- Name: idx_order_items_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_seller ON public.order_items USING btree (seller_id);


--
-- Name: idx_order_items_seller_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_seller_status ON public.order_items USING btree (seller_id, order_id);


--
-- Name: idx_order_tracking_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_tracking_order ON public.order_tracking USING btree (order_id);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_orders_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_user ON public.orders USING btree (user_id);


--
-- Name: idx_payments_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_order ON public.payments USING btree (order_id);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_price_history_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_history_product ON public.price_history USING btree (product_id);


--
-- Name: idx_product_attributes_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_attributes_product ON public.product_attributes USING btree (product_id);


--
-- Name: idx_product_images_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_images_product ON public.product_images USING btree (product_id);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_category_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category_not_deleted ON public.products USING btree (category_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_products_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_seller ON public.products USING btree (seller_id);


--
-- Name: idx_products_seller_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_seller_not_deleted ON public.products USING btree (seller_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_products_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_status ON public.products USING btree (status);


--
-- Name: idx_reviews_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_product ON public.product_reviews USING btree (product_id);


--
-- Name: idx_reviews_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_user ON public.product_reviews USING btree (user_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role_id);


--
-- Name: uq_cart_product_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_cart_product_active ON public.cart_items USING btree (cart_id, product_id) WHERE (deleted_at IS NULL);


--
-- Name: uq_category_name_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_category_name_parent ON public.categories USING btree (name, parent_id) WHERE ((parent_id IS NOT NULL) AND (deleted_at IS NULL));


--
-- Name: uq_category_root_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_category_root_name ON public.categories USING btree (name) WHERE ((parent_id IS NULL) AND (deleted_at IS NULL));


--
-- Name: uq_category_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_category_slug ON public.categories USING btree (slug) WHERE (deleted_at IS NULL);


--
-- Name: uq_product_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_product_slug ON public.products USING btree (slug) WHERE (deleted_at IS NULL);


--
-- Name: ux_review_user_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_review_user_product ON public.product_reviews USING btree (user_id, product_id) WHERE (deleted_at IS NULL);


--
-- Name: cart_items cart_items_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: cart_items cart_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: carts carts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- Name: demand_predictions demand_predictions_generated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demand_predictions
    ADD CONSTRAINT demand_predictions_generated_by_fkey FOREIGN KEY (generated_by) REFERENCES public.users(id);


--
-- Name: demand_predictions demand_predictions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demand_predictions
    ADD CONSTRAINT demand_predictions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: customer_addresses fk_customer_address_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_addresses
    ADD CONSTRAINT fk_customer_address_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dss_scenario_items fk_dss_item_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenario_items
    ADD CONSTRAINT fk_dss_item_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: dss_scenario_items fk_dss_item_scenario; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenario_items
    ADD CONSTRAINT fk_dss_item_scenario FOREIGN KEY (scenario_id) REFERENCES public.dss_scenarios(id) ON DELETE CASCADE;


--
-- Name: dss_recommendations fk_dss_rec_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_recommendations
    ADD CONSTRAINT fk_dss_rec_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: dss_recommendations fk_dss_rec_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_recommendations
    ADD CONSTRAINT fk_dss_rec_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dss_results fk_dss_result_scenario; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_results
    ADD CONSTRAINT fk_dss_result_scenario FOREIGN KEY (scenario_id) REFERENCES public.dss_scenarios(id) ON DELETE CASCADE;


--
-- Name: dss_scenarios fk_dss_scenario_seller; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dss_scenarios
    ADD CONSTRAINT fk_dss_scenario_seller FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: orders fk_orders_address; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_address FOREIGN KEY (address_id) REFERENCES public.customer_addresses(id);


--
-- Name: wishlists fk_wishlist_customer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT fk_wishlist_customer FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: wishlist_items fk_wishlist_item_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT fk_wishlist_item_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: wishlist_items fk_wishlist_item_wishlist; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT fk_wishlist_item_wishlist FOREIGN KEY (wishlist_id) REFERENCES public.wishlists(id) ON DELETE CASCADE;


--
-- Name: inventory_logs inventory_logs_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT inventory_logs_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: inventory_logs inventory_logs_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_logs
    ADD CONSTRAINT inventory_logs_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: inventory inventory_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: order_items order_items_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: order_tracking order_tracking_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_tracking
    ADD CONSTRAINT order_tracking_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_tracking order_tracking_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_tracking
    ADD CONSTRAINT order_tracking_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: price_history price_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: price_history price_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_attributes product_attributes_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_attributes
    ADD CONSTRAINT product_attributes_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_reviews product_reviews_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reviews
    ADD CONSTRAINT product_reviews_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_reviews product_reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reviews
    ADD CONSTRAINT product_reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: products products_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sEdyUjnSTl47IhK8rCFJlB1panOe7QtReWAd4uu1TZoY8NvHW0lsfRRDJkNOhhh

